<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
	<div class="container-fluid">
		<div class="row p-2">
			<div class="col-2">
				<a asp-controller="admin" asp-action="index"
				   class="@GetClassForButton("Index")">
					Общее
				</a>

				<a asp-controller="admin" asp-action="syscom"
				   class="@GetClassForButton("syscom")">
					Системы связи
				</a>

				<a asp-controller="admin" asp-action="place"
				   class="@GetClassForButton("place")">
					Места
				</a>
			</div>
			<div class="col">
				@RenderBody()
			</div>
		</div>
	</div>
</body>
</html>

@functions {
string GetClassForButton(string controller)
{
	return "btn btn-block " + (ViewContext.RouteData.Values["action"]
		as string == controller ? "btn-primary" : "btn-outline-primary");
}
}
